html, body {
    /* background-color: #454545; */
    height: 100%;
}
.header {
    width: 100%;
    height: 20%;
    display: block;
}

.header .picture{
    float: left;
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: row;

    align-items: center; /*垂直居中*/
    justify-content: center; /*水平居中 */

}

 
.header  .picture  .logo{
    vertical-align: middle;
    align-items: center;
    width: 80%;
}

.header .text{
    height: 100%;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    width: 60%;
    font-size: 60px;
    text-align: center;
    float: right;
}

.main{
    height: 70%;
    background-color: #eee;
    width: 100%;
    display:block;
    float: left;
}

.main .side_bar {
    float: left;
    width: 20%;
    display: block;
    float: left;
}

.main .side_bar *{

   text-align: center; 
   color: #454545;
   font-size: large;
   text-decoration: none;
    margin: 10px;
    display: inline-block;
    width: 100%;
}

.main .side_bar *:hover{
    color: #777;
}
.main .side_bar {
    margin-bottom: 20px;
}
.main .info{
    width: 80%;
    display: inline-block;
    float: right;
}

.main .info .box{
    display: block;
    width: 100%;
}
.main .info .box *{
    display: inline-block;
    float: left;
}

.main .info .sheet{
    text-align: center;
    float: left;
    width: 100%;
}

.main .info .sheet_body{
    display: block;
    text-align: center;
    width: 100%;
}
.footer{
    height: 10%;
    width: 100%;
    background-color: burlywood;
    display: block;
    float: left;
    text-align: center;
}

.footer .page{
    width: 100%;
    display: inline-block;
    float: left;
}

.footer .page *{
    display: inline-block;
}

.footer .name{
    color: rgba(82, 78, 78, 0.438);
}

